# -----import package-----

In [56]:
import geopandas as gpd
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import math
import random
from shapely.ops import linemerge
from shapely.wkt import loads
from shapely.geometry import LineString
from shapely.geometry import Point, Polygon
from scipy.spatial import Delaunay

# -----point file-----

In [2]:
df_point = gpd.read_file('hydrant_location/hydrant_location.shp')

In [3]:
df_point['id'] = df_point.reset_index().index

In [4]:
df_point

        id                    geometry
0        0  POINT (-74.00698 40.74748)
1        1  POINT (-74.00722 40.74722)
2        2  POINT (-74.00721 40.74697)
3        3  POINT (-74.00722 40.74722)
4        4  POINT (-74.00728 40.74667)
...    ...                         ...
2295  2295  POINT (-73.97976 40.71559)
2296  2296  POINT (-73.97987 40.71361)
2297  2297  POINT (-73.98387 40.72077)
2298  2298  POINT (-73.97780 40.71833)
2299  2299  POINT (-73.99446 40.72987)

[2300 rows x 2 columns]

# -----road file-----

In [5]:
df_road = gpd.read_file('road_location/road_location.shp')

In [6]:
df_road.drop('road_id', axis=1, inplace=True)

In [7]:
df_road

      id                                           geometry
0      1  LINESTRING (-74.01301 40.70215, -74.01167 40.7...
1      1  LINESTRING (-74.01171 40.70247, -74.00999 40.7...
2      1  LINESTRING (-74.00577 40.70566, -74.00396 40.7...
3      1  LINESTRING (-74.00385 40.70651, -74.00142 40.7...
4      2  LINESTRING (-74.01270 40.70275, -74.01180 40.7...
..   ...                                                ...
331  248  LINESTRING (-73.99741 40.72164, -73.99389 40.7...
332  249  LINESTRING (-74.00203 40.71159, -74.00252 40.7...
333  250  LINESTRING (-74.00296 40.71334, -74.00150 40.7...
334  251  LINESTRING (-74.00799 40.70899, -74.00720 40.7...
335  252  LINESTRING (-74.01411 40.70697, -74.01368 40.7...

[336 rows x 2 columns]

# -----calculate distance between road and point-----

In [8]:
#find the 1 closest road for each point
def find_close_road(point, roads_df):
    close_road = None
    min_distance = float('inf')
    
    for idx, road in roads_df.iterrows():
        distance = point.distance(road['geometry'])
        if distance < min_distance:
            min_distance = distance
            close_road = road['id']
    return close_road

In [9]:
#apply above method to all points in df_point
df_point['close_road'] = df_point.apply(lambda row: find_close_road(row['geometry'], df_road), axis=1)

In [10]:
def find_closest_road(point, roads_df, min_distance):
    closest_road_id = []

    for idx, road in roads_df.iterrows():
        distance = point.distance(road['geometry'])
        if distance < min_distance:
            closest_road_id.append(road['id'])

    return closest_road_id

In [11]:
df_point['closest_road_id'] = df_point.apply(lambda row: find_closest_road(row['geometry'], df_road, 0.0004), axis=1)

In [12]:
df_point

        id                    geometry  close_road  closest_road_id
0        0  POINT (-74.00698 40.74748)         119       [119, 170]
1        1  POINT (-74.00722 40.74722)         119  [119, 120, 170]
2        2  POINT (-74.00721 40.74697)         120       [120, 170]
3        3  POINT (-74.00722 40.74722)         119  [119, 120, 170]
4        4  POINT (-74.00728 40.74667)         120  [120, 121, 170]
...    ...                         ...         ...              ...
2295  2295  POINT (-73.97976 40.71559)         234        [33, 234]
2296  2296  POINT (-73.97987 40.71361)          30    [30, 35, 235]
2297  2297  POINT (-73.98387 40.72077)         221            [221]
2298  2298  POINT (-73.97780 40.71833)         199       [199, 235]
2299  2299  POINT (-73.99446 40.72987)         187       [187, 109]

[2300 rows x 4 columns]

# -----block file-----

In [13]:
def blockInfo(shapefile):
    gdf = gpd.read_file(shapefile)
    block_info_list = []
    for idx, row in gdf.iterrows():
        block_id = row['id'] 
        polygon = row['geometry'] 
        corners = list(polygon.exterior.coords)
        block_info = {
            'blockID': block_id,
            'corners': corners
        }
        block_info_list.append(block_info)
    return block_info_list

In [14]:
def blockIdentify(hydrantCenter, blocks):
    hydrantPoint = Point(hydrantCenter)
    for block in blocks:
        blockCoords = block['corners'] 
        blockPolygon = Polygon(blockCoords)
        if hydrantPoint.within(blockPolygon):
            hydrantBlockID = block['blockID'] 
            return hydrantBlockID
    return None

In [15]:
blocks = blockInfo("block_location/blocksagain.shp")
df_point['block_id'] = df_point.apply(lambda row: blockIdentify(row['geometry'], blocks), axis=1)

In [16]:
# Check if the entire dataframe contains NA values
is_na_anywhere = df_point.isna().any().any()

print("Dataframe contains NA values:", is_na_anywhere)

Dataframe contains NA values: True

In [17]:
df_point

        id                    geometry  close_road  closest_road_id  block_id
0        0  POINT (-74.00698 40.74748)         119       [119, 170]       1.0
1        1  POINT (-74.00722 40.74722)         119  [119, 120, 170]       2.0
2        2  POINT (-74.00721 40.74697)         120       [120, 170]       2.0
3        3  POINT (-74.00722 40.74722)         119  [119, 120, 170]       2.0
4        4  POINT (-74.00728 40.74667)         120  [120, 121, 170]       3.0
...    ...                         ...         ...              ...       ...
2295  2295  POINT (-73.97976 40.71559)         234        [33, 234]     505.0
2296  2296  POINT (-73.97987 40.71361)          30    [30, 35, 235]     901.0
2297  2297  POINT (-73.98387 40.72077)         221            [221]     437.0
2298  2298  POINT (-73.97780 40.71833)         199       [199, 235]     444.0
2299  2299  POINT (-73.99446 40.72987)         187       [187, 109]     329.0

[2300 rows x 5 columns]

# -----Hydrant Class-----

In [18]:
class Hydrant:
    
    def __init__(self, id, x, y, block_id, closest_road_id, close_road): # constructor
        
        # From shapefile
        self.pointID = id
        self.x = x
        self.y = y
        self.blockID = block_id
        self.roadID = closest_road_id
        self.closeRoadID = close_road
        
        # Will initialize once into network generation
        self.branchID = 0
        self.neighbor = [] # List to store all the neighbors of this hydrant
        self.edge = [] # Dict to store edge information
        
        self.elevation = 0

# -----Edge Class-----

In [67]:
class Edge:
    
    def __init__(self, id, p1, p2, length): # constructor
    
        self.edgeID = id
        self.p1 = p1 # id
        self.p2 = p2 # id
        self.length = length
        self.cross_road_id = 0
        self.angle_with_road = 0
        self.intersection_angle = 0
        self.cost = 0

# -----convert the above dataframe to hydrant object-----

In [20]:
# Create an empty list to store the 'hydrant' instances
hydrant_instances = []

# Iterate through each row in the DataFrame and create 'hydrant' instances
for index, row in df_point.iterrows():
    # Get the Point object from the 'geometry' column
    point = row['geometry']
    
    # Extract 'x' and 'y' coordinates from the Point object
    x, y = point.x, point.y
    
    # Create 'hydrant' instance and add it to the list
    hydrant_obj = Hydrant(row['id'], x, y, row['block_id'], row['closest_road_id'], row['close_road'])
    hydrant_instances.append(hydrant_obj)

In [21]:
hydrant_instances[2].blockID

2.0

In [22]:
# Function to calculate the Euclidean distance between two points
def distance(p1, p2):
    return np.sqrt((p1[0] - p2[0])**2 + (p1[1] - p2[1])**2)

# -----Triangulation-----

In [23]:
# Extract x and y coordinates from hydrant instances
hydrant_points = [(hydrant.x, hydrant.y) for hydrant in hydrant_instances]

# Convert the list of points to a numpy array
points = np.array(hydrant_points)

# Perform Delaunay triangulation
triangulation = Delaunay(points)

# -----Filter out edges with different roadID-----

# -----Filter out edges cross Road that exceed the maximum-----

# -----Filter cross block with different roadID-----

In [24]:
# set the maximum length
max_edge_length = 0.002

In [25]:
#two functions altered for the closest point
def edge_in_block(hydrant1, hydrant2):
    return hydrant1.blockID == hydrant2.blockID

def blocked_by_block(hydrant1, hydrant2):
    if edge_in_block(hydrant1, hydrant2):
        if hydrant1.closeRoadID == hydrant2.closeRoadID:
            return False  
        return True
    else:
        return False

In [26]:
# Set to store filtered edges (edges that don't exceed the maximum length)
filtered_edges_road_cross = set()
edge_set_pro = []

In [27]:
# track edgeID
edge_id = 0

In [28]:
# Loop through each triangle (simplex)
for simplex in triangulation.simplices:
    
    # Get the indices of the points forming the edges of the triangle
    edge1 = frozenset([simplex[0], simplex[1]])
    edge2 = frozenset([simplex[1], simplex[2]])
    edge3 = frozenset([simplex[0], simplex[2]])

    # Get the actual points from the 'points' list using the indices
    point1, point2, point3 = points[simplex[0]], points[simplex[1]], points[simplex[2]]
    
    # Get the actual points from the 'hydrant_instances' list using the indices
    hydrant1, hydrant2, hydrant3 = hydrant_instances[simplex[0]], hydrant_instances[simplex[1]], hydrant_instances[simplex[2]]
    
    # Calculate the edge lengths
    edge1_length = distance(point1, point2)
    edge2_length = distance(point2, point3)
    edge3_length = distance(point1, point3)
        
    # Check each closest road ID for each point in the triangle
    for road_id in df_point.at[simplex[0], 'closest_road_id']:
        if edge1_length <= max_edge_length \
            and road_id in df_point.at[simplex[1], 'closest_road_id'] \
            and not blocked_by_block(hydrant1, hydrant2):
            filtered_edges_road_cross.add(edge1)
            edge_obj = Edge(edge_id, simplex[0], simplex[1], edge1_length)
            edge_set_pro.append(edge_obj)
            edge_id += 1
            hydrant1.neighbor.append(hydrant2)
            hydrant1.edge.append(edge_obj)
            break  # Break the loop if an edge is found for this road_id
    for road_id in df_point.at[simplex[1], 'closest_road_id']:
        if edge2_length <= max_edge_length \
            and road_id in df_point.at[simplex[2], 'closest_road_id'] \
            and not blocked_by_block(hydrant2, hydrant3):
            filtered_edges_road_cross.add(edge2)
            edge_obj = Edge(edge_id, simplex[1], simplex[2], edge2_length)
            edge_set_pro.append(edge_obj)
            edge_id += 1
            hydrant2.neighbor.append(hydrant3)
            hydrant2.edge.append(edge_obj)
            break
    for road_id in df_point.at[simplex[0], 'closest_road_id']:
        if edge3_length <= max_edge_length \
            and road_id in df_point.at[simplex[2], 'closest_road_id'] \
            and not blocked_by_block(hydrant1, hydrant3):
            filtered_edges_road_cross.add(edge3)
            edge_obj = Edge(edge_id, simplex[0], simplex[2], edge3_length)
            edge_set_pro.append(edge_obj)
            edge_id += 1
            hydrant1.neighbor.append(hydrant3)
            hydrant3.edge.append(edge_obj)
            break

In [29]:
# -----Create a GeoDataFrame for filtered edges-----

# Create a list of LineString objects for filtered edges
lines = []
for edge in filtered_edges_road_cross:
    edge_points = list(edge)
    line = LineString(np.array(points)[edge_points])
    lines.append(line)

# Create a GeoDataFrame from the LineString objects
gdf_filtered_edges_road_cross = gpd.GeoDataFrame(geometry=lines)

# Save the GeoDataFrame as a shapefile
gdf_filtered_edges_road_cross.to_file('filtered_edges_road_block.shp')

# -----Calculate angle cross road for each edge-----

In [30]:
def calculate_angle(p1, p2):
    dx = p2[0] - p1[0]
    dy = p2[1] - p1[1]
    return math.degrees(math.atan2(dy, dx))

In [31]:
def unit_vector(p1, p2):
    dx = p2[0] - p1[0]
    dy = p2[1] - p1[1]
    length = np.sqrt(dx**2 + dy**2)
    if length > 0:
        return dx / length, dy / length
    else:
        return 0, 0

In [32]:
def find_edge_crossing_road(edges, roads_df):
    for edge in edges:
        road_id = None
        min_distance = float('inf')
        intersection_angle = 0  # Initialize the angle at the intersection
        
        # Get the actual points from the 'points' list using the indices
        point1, point2 = points[edge.p1], points[edge.p2]

        # Calculate the unit direction vector of the edge
        edge_vector = unit_vector(point1, point2)

        # Calculate the angle between the edge and each road
        for _, road_row in roads_df.iterrows():
            road_geometry = road_row['geometry']

            # Assuming road_geometry is a LINESTRING object containing coordinates of the road
            road_coords = road_geometry.coords[:]
            road_angle = calculate_angle(road_coords[0], road_coords[-1])

            # Calculate the unit direction vector of the road
            road_vector = unit_vector(road_coords[0], road_coords[-1])

            # Calculate the angle between the edge and the road
            angle_diff = np.arccos(np.clip(np.dot(edge_vector, road_vector), -1.0, 1.0))

            # Convert the angle from radians to degrees
            angle_diff_degrees = np.degrees(angle_diff)

            # Check if this road is closer than previous ones
            if angle_diff_degrees < min_distance:
                min_distance = angle_diff_degrees
                road_id = road_row['id']
                intersection_angle = road_angle

        # Now you have the road_id that the edge crosses, the angle between the edge and the road,
        # and the angle at the intersection of the edge and the road.
        # You can store this information in the edge object if desired.
        edge.cross_road_id = road_id
        edge.angle_with_road = min_distance
        edge.intersection_angle = intersection_angle

In [33]:
find_edge_crossing_road(edge_set_pro, df_road)

In [34]:
# Define a function to create a list of dictionaries containing the relevant attributes of each Edge object
def edge_attributes_to_list(edges):
    edge_list = []
    for edge in edges:
        edge_dict = {
            'edgeID': edge.edgeID,
            'p1': edge.p1,
            'p2': edge.p2,
            'length': edge.length,
            'cross_road_id': edge.cross_road_id,
            'angle_with_road': edge.angle_with_road,
            'intersection_angle': edge.intersection_angle
        }
        edge_list.append(edge_dict)
    return edge_list

# Call the function to convert the Edge objects to a list of dictionaries
edge_list = edge_attributes_to_list(edge_set_pro)

# Create a DataFrame from the list of dictionaries
edge_df = pd.DataFrame(edge_list)

# Display the DataFrame containing edge information
edge_df

,edgeID,p1,p2,length,cross_road_id,angle_with_road,intersection_angle
0,0,293,312,0.001844,189,0.033167,-103.984768
1,1,312,304,0.000686,243,0.105671,75.330291
2,2,293,304,0.001158,221,0.016852,-103.480157
3,3,307,304,0.000651,45,0.977769,146.990835
4,4,312,304,0.000686,243,0.105671,75.330291
...,...,...,...,...,...,...,...
8777,8777,445,436,0.000762,180,2.150902,-123.486169
8778,8778,436,441,0.000576,248,0.822384,-20.160698
8779,8779,445,441,0.000855,3,0.077049,-80.134193
8780,8780,445,435,0.000629,110,5.426604,-130.537332
8781,8781,445,436,0.000762,180,2.150902,-123.486169

In [35]:
# Helper function to normalize angles to the range of 0 to 90 degrees
def normalize_angle_0_to_90(angle):
    while angle < 0:
        angle += 360
    while angle >= 90:
        angle -= 90
    return angle

# Normalize the intersection angles in the pandas Series
edge_df['intersection_angle'] = edge_df['intersection_angle'].apply(normalize_angle_0_to_90)

In [36]:
edge_df

,edgeID,p1,p2,length,cross_road_id,angle_with_road,intersection_angle
0,0,293,312,0.001844,189,0.033167,76.015232
1,1,312,304,0.000686,243,0.105671,75.330291
2,2,293,304,0.001158,221,0.016852,76.519843
3,3,307,304,0.000651,45,0.977769,56.990835
4,4,312,304,0.000686,243,0.105671,75.330291
...,...,...,...,...,...,...,...
8777,8777,445,436,0.000762,180,2.150902,56.513831
8778,8778,436,441,0.000576,248,0.822384,69.839302
8779,8779,445,441,0.000855,3,0.077049,9.865807
8780,8780,445,435,0.000629,110,5.426604,49.462668
8781,8781,445,436,0.000762,180,2.150902,56.513831

In [37]:
is_zero_in_intersection = (edge_df['intersection_angle'] == 0).any()

In [38]:
is_zero_in_intersection

False

# -----Elevation-----

In [39]:
elevation_shapefile_path = 'hydrant_locations_with_rasterdata/hydrant_locations_with_rasterdata.shp'
first_hydrant_raster_gdf = gpd.read_file(elevation_shapefile_path)

In [40]:
second_elevation_shapefilepath = 'second_hydrants_with_raster/second_hydrants_with_raster.shp'
second_hydrant_raster_gdf = gpd.read_file(second_elevation_shapefilepath)

In [41]:
def create_hydrants_elev_dict(first_hydrant_raster_gdf, second_hydrant_raster_gdf): 

  hydrants_to_elev = {}

  for index, row in first_hydrant_raster_gdf.iterrows():
    hydrant_point = row['geometry']
    if pd.isna(row['SAMPLE_1']): #if the value is not in the first shapefile DEM, check second DEM file 
        corresponding_elev = second_hydrant_raster_gdf.loc[index, 'ELEV1'] #call the corresponding elevation from second DEM file 
        hydrants_to_elev[(hydrant_point.x, hydrant_point.y)] = corresponding_elev #update the dictionary value 
    else:
        hydrants_to_elev[(hydrant_point.x, hydrant_point.y)] = row['SAMPLE_1']
  return hydrants_to_elev

In [42]:
elevation_data = create_hydrants_elev_dict(first_hydrant_raster_gdf, second_hydrant_raster_gdf)

In [43]:
# Create a new column 'elevation' in the df_point DataFrame and set it to None initially
df_point['elevation'] = None

# Iterate through the df_point DataFrame and update the 'elevation' column with the corresponding elevation from the dictionary
for index, row in df_point.iterrows():
    geometry = row['geometry']
    elevation = elevation_data.get((geometry.x, geometry.y), None)
    df_point.at[index, 'elevation'] = elevation
    hydrant_instances[index].elevation = elevation

In [45]:
elevation_data

{(-74.00697762006345, 40.74747950102119): 5.269999980926514,
 (-74.0072172653229, 40.747217389018665): 6.840000152587891,
 (-74.00720977640854, 40.74697399930203): 8.09000015258789,
 (-74.00722100978008, 40.74722113347584): 6.760000228881836,
 (-74.00728466555212, 40.746670698270535): 7.440000057220459,
 (-74.00788003424358, 40.74658083129824): 7.800000190734863,
 (-74.00645714051556, 40.747243600218916): 7.519999980926514,
 (-74.00642344040097, 40.746629509241565): 6.920000076293945,
 (-74.00799236795895, 40.74603788500729): 6.309999942779541,
 (-74.0075205663544, 40.74587312889141): 5.210000038146973,
 (-74.00754677755465, 40.74558480568863): -0.759999990463257,
 (-74.00808597938843, 40.745494938716334): 6.980000019073486,
 (-74.0055097928493, 40.74712377758919): 8.300000190734863,
 (-74.00494812427245, 40.74726232250481): 7.480000019073486,
 (-74.00527014758984, 40.74674558741411): 3.240000009536743,
 (-74.00589172748154, 40.74670814284232): 7.090000152587891,
 (-74.0056146376503, 40.74627753026674): 9.390000343322754,
 (-74.00590670531027, 40.74581696203373): 9.649999618530273,
 (-74.00454278678285, 40.74670814284233): 8.609999656677246,
 (-74.00387252894781, 40.74677554307155): 11.470000267028809,
 (-74.00298134813922, 40.7460004404355): 15.1899995803833,
 (-74.00212012298805, 40.7460191627214): 15.09000015258789,
 (-74.00373398403218, 40.74574207289016): 12.699999809265137,
 (-74.00489476575767, 40.74625506352368): 8.869999885559082,
 (-74.00180839692793, 40.74549306648775): 15.789999961853027,
 (-74.00074871554628, 40.745436899630064): 18.049999237060547,
 (-74.00021700262685, 40.74481531973835): 13.170000076293945,
 (-73.99931084398955, 40.74479285299528): 20.489999771118164,
 (-74.00194694184354, 40.745287121342905): 16.670000076293945,
 (-73.99970401199334, 40.74432105139073): 22.399999618530273,
 (-73.99901784021532, 40.74427424567598): 23.329999923706055,
 (-73.99813414832109, 40.743896055500905): 22.940000534057617,
 (-73.9971868006548, 40.74388107767219): 25.15999984741211,
 (-73.99647160933362, 40.7435590543548): 26.719999313354492,
 (-73.99666257664974, 40.743244519951766): 23.190000534057617,
 (-73.99683482167998, 40.74304980817846): 27.809999465942383,
 (-73.99522751343594, 40.74301798029242): 29.360000610351562,
 (-73.99544469195231, 40.7424525672584): 31.489999771118164,
 (-73.99463963365884, 40.742355211371745): 32.439998626708984,
 (-73.99390946450893, 40.74202195468282): 34.5,
 (-73.9940929429107, 40.74184222073823): 34.459999084472656,
 (-73.99366139422084, 40.74232431960002): 33.060001373291016,
 (-73.99309223672962, 40.742092163254924): 33.31999969482422,
 (-73.9933468598178, 40.74180384005214): 33.91999816894531,
 (-73.99350412701932, 40.741590405992945): 35.779998779296875,
 (-73.99294245844247, 40.74135450519067): 37.59000015258789,
 (-73.99244444563767, 40.74179260668061): 35.13999938964844,
 (-73.99209621112003, 40.74123842701812): 33.66999816894531,
 (-73.9913173640268, 40.74130957170452): 38.61000061035156,
 (-73.99054787807654, 40.74096788998693): 40.029998779296875,
 (-73.99070140082087, 40.74060842209776): 41.91999816894531,
 (-73.99137540311308, 40.740630888840826): 40.5099983215332,
 (-73.98940394640837, 40.740510130096794): 42.220001220703125,
 (-73.98887223348896, 40.740251762551445): 41.65999984741211,
 (-73.98736415336015, 40.73958056860212): 34.61000061035156,
 (-73.98849872388539, 40.73968541340313): 38.099998474121094,
 (-73.98694664638471, 40.739017963910975): 33.59000015258789,
 (-73.98581582031666, 40.73852744002053): 28.850000381469727,
 (-73.98773672684948, 40.73910408642609): 35.630001068115234,
 (-73.98973626698302, 40.73994284483418): 40.4900016784668,
 (-73.98871403017316, 40.73948976551553): 38.099998474121094,
 (-73.98541141894134, 40.73832430321857): 16.920000076293945,
 (-73.98603299883304, 40.73830932538985): 30.639999389648438,
 (-74.00528325319024, 40.745784198033334): 9.869999885559082,
 (-74.00558655422174, 40.74534609654339): 8.539999961853027,
 (-74.00626430097114, 40.74536856328647): 7.630000114440918,
 (-74.0041159186647, 40.74529461025718): 12.670000076293945,
 (-74.00452032004003, 40.745200998827706): 9.109999656677246,
 (-74.00263124139325, 40.74525716568539): 15.699999809265137,
 (-74.0027997419663, 40.745062453912084): 16.15999984741211,
 (-74.00101644423484, 40.74455976053581): 17.360000610351562,
 (-73.99937637199045, 40.743829591385904): 23.290000915527344,
 (-74.00246742139169, 40.74458409950746): 15.9399995803833,
 (-74.0013965066385, 40.74408983115983): 18.809999465942383,
 (-74.00014960239791, 40.743576840526316): 21.459999084472656,
 (-73.99967686467907, 40.74334374806692): 22.06999969482422,
 (-73.99856101643974, 40.74286820200519): 24.950000762939453,
 (-73.99824273757953, 40.74335123698128): 18.389999389648438,
 (-73.99712127265445, 40.74256022040222): 28.790000915527344,
 (-73.99651092613428, 40.742571453773756): 30.09000015258789,
 (-73.9948877039472, 40.74186655970981): 32.880001068115234,
 (-73.9943709688565, 40.74134233570475): 34.66999816894531,
 (-73.9936941582214, 40.74134888850482): 36.209999084472656,
 (-73.99380274747959, 40.741086776502286): 35.709999084472656,
 (-73.99328226793172, 40.74088457581462): 31.25,
 (-73.99238547043737, 40.74076007261342): 39.0099983215332,
 (-73.99166279020183, 40.740179681750675): 39.13999938964844,
 (-73.99101874356705, 40.74016844837914): 41.900001525878906,
 (-73.99053851693387, 40.73997560883441): 41.81999969482422,
 (-73.99034754961774, 40.73987825294776): 35.15999984741211,
 (-73.9898570257273, 40.739634863231124): 41.93000030517578,
 (-73.98920549017815, 40.73936151785706): 33.88999938964844,
 (-73.99041120538979, 40.73961614094523): 42.08000183105469,
 (-73.98988698138473, 40.73938772905731): 42.720001220703125,
 (-73.98805406959563, 40.73860794584979): 36.790000915527344,
 (-73.98733887827446, 40.738540545620566): 35.790000915527344,
 (-73.98745121198982, 40.738338344932906): 35.52000045776367,
 (-73.98667236489659, 40.73799385487244): 33.400001525878906,
 (-73.9857502923163, 40.73786186275688): 31.079999923706055,
 (-73.98590007060346, 40.73765966206921): 31.209999084472656,
 (-74.0065704103455, 40.74492671733935): 11.479999542236328,
 (-74.00591887479636, 40.74486680602448): 10.380000114440918,
 (-74.00816929356093, 40.74500909539728): 7.809999942779541,
 (-74.00773119207099, 40.74475447230911): 4.070000171661377,
 (-74.00621843137068, 40.74443244899172): 10.619999885559082,
 (-74.00484796004318, 40.744746983394755): 11.289999961853027,
 (-74.00520742793236, 40.74430513744763): 10.84000015258789,
 (-74.00661159937448, 40.74393069172974): 9.460000038146973,
 (-74.00718824578004, 40.74419280373226): 8.520000457763672,
 (-74.00774991435688, 40.74443993790608): 7.519999980926514,
 (-74.00828537173348, 40.74442121562018): 7.110000133514404,
 (-74.00729964338109, 40.74395222235851): 9.430000305175781,
 (-74.00671925251835, 40.74372006601342): 11.260000228881836,
 (-74.00836306921993, 40.743911033329546): 7.659999847412109,
 (-74.00846791402093, 40.74350288749704): 8.210000038146973,
 (-74.00794369001588, 40.743581521097795): 9.149999618530273,
 (-74.00761417778412, 40.74344672063935): 10.210000038146973,
 (-74.00799985687355, 40.743319409095264): 9.170000076293945,
 (-74.00793994555869, 40.74305448874984): 9.710000038146973,
 (-74.00853156979298, 40.743002066349334): 8.079999923706055,
 (-74.00727343218084, 40.742964621777546): 11.640000343322754,
 (-74.00580934942386, 40.74295713286319): 13.829999923706055,
 (-74.00654700748812, 40.74238797537198): 12.34000015258789,
 (-74.00615383948433, 40.74248158680146): 13.75,
 (-74.00763290007002, 40.74244414222967): 11.739999771118164,
 (-74.00788003424383, 40.74208841879767): 9.6899995803833,
 (-74.00722100978034, 40.74179635113771): 11.520000457763672,
 (-74.00812716841764, 40.7417439287372): 7.96999979019165,
 (-74.00588798302462, 40.74168776187952): 14.130000114440918,
 (-74.00698885343523, 40.74125340484676): 13.119999885559082,
 (-74.00768532247052, 40.74106805421639): 10.970000267028809,
 (-74.00839676933452, 40.74136386633353): 8.819999694824219,
 (-74.00856901436477, 40.7411204766169): 9.979999542236328,
 (-74.00902209368341, 40.74074977535618): 8.59000015258789,
 (-74.0073857658962, 40.74059625261184): 10.239999771118164,
 (-74.00694766440627, 40.74077973101361): 13.220000267028809,
 (-74.00687277526269, 40.740386563009814): 13.989999771118164,
 (-74.00616507285586, 40.74042400758161): 14.359999656677246,
 (-74.0059104497677, 40.740783475470785): 15.899999618530273,
 (-74.00637850691507, 40.74010947317857): 16.110000610351562,
 (-74.0100003331214, 40.73996156712): 8.65999984741211,
 (-74.00945364237327, 40.739931611462566): 7.860000133514404,
 (-74.00787160921517, 40.74001773397768): 12.029999732971191,
 (-74.00745223001113, 40.739755621975156): 10.5,
 (-74.0089013349394, 40.73973315523208): 9.59000015258789,
 (-74.00748967458291, 40.73943359865776): 12.170000076293945,
 (-74.007972709559, 40.739081619682935): 11.90999984741211,
 (-74.0094704924306, 40.73942985420058): 6.760000228881836,
 (-74.00953414820263, 40.73874087407965): 5.75,
 (-74.00798019847336, 40.73877831865144): 11.09000015258789,
 (-74.00953414820263, 40.73818388607427): 6.179999828338623,
 (-74.00904736876937, 40.73843102024808): 1.889999985694885,
 (-74.00753835252624, 40.73844974253397): 15.710000038146973,
 (-74.00801389858798, 40.73817639715991): 10.699999809265137,
 (-74.0075982638411, 40.73785062938534): 5.010000228881836,
 (-74.00804759870259, 40.73750613932487): 11.180000305175781,
 (-74.00906234659809, 40.73749116149616): 8.149999618530273,
 (-74.00958282614596, 40.737513628239235): 7.170000076293945,
 (-74.00763570841289, 40.73719160492184): 14.539999961853027,
 (-74.00764694178443, 40.736775970174975): 12.010000228881836,
 (-74.00966894866107, 40.73658874731603): 8.260000228881836,
 (-74.00814495458924, 40.73636876045675): 10.699999809265137,
 (-74.00814121013205, 40.735983081367316): 15.829999923706055,
 (-74.00768064189904, 40.735724713821966): 16.06999969482422,
 (-74.00774804212827, 40.73536150147561): 14.260000228881836,
 (-74.00972137106159, 40.735762158393754): 7.730000019073486,
 (-74.0092196137996, 40.735492557476874): 10.289999961853027,
 (-74.00819363253257, 40.734919655528486): 16.559999465942383,
 (-74.00823107710436, 40.73457142101084): 11.979999542236328,
 (-74.00981123803388, 40.73503198924386): 7.300000190734863,
 (-74.0068868169771, 40.73477923838427): 20.18000030517578,
 (-74.00929824740037, 40.73439355929484): 10.0600004196167,
 (-74.0098599159772, 40.73448717072431): 8.59000015258789,
 (-74.00779297561441, 40.734322414608435): 17.799999237060547,
 (-74.00830222179076, 40.73388056866132): 18.850000381469727,
 (-74.00996101632104, 40.73363717894468): 7.699999809265137,
 (-74.00786412030081, 40.73360347883007): 17.06999969482422,
 (-74.00789033150106, 40.73328145551268): 19.65999984741211,
 (-74.00723879595192, 40.73337132248498): 19.469999313354492,
 (-74.006905539263, 40.73308393539648): 18.84000015258789,
 (-74.0084370222492, 40.732761912079084): 15.970000267028809,
 (-74.0095229148311, 40.733020279624434): 11.319999694824219,
 (-74.0100396499218, 40.73286301242292): 7.679999828338623,
 (-74.00848570019252, 40.73240244418991): 15.109999656677246,
 (-74.0070852732076, 40.73224517698839): 20.950000762939453,
 (-74.01007335003641, 40.732301343846075): 7.409999847412109,
 (-74.01010705015102, 40.73200927618611): 6.75,
 (-74.00814121013205, 40.73202425401483): 15.640000343322754,
 (-74.00767315298468, 40.7319942983574): 16.100000381469727,
 (-74.00783416464338, 40.73158240806771): 16.110000610351562,
 (-74.00866917859429, 40.7316385749254): 14.029999732971191,
 (-74.00664717171765, 40.73185949789895): 18.06999969482422,
 (-74.01024465895233, 40.7310853313772): 6.28000020980835,
 (-74.01035699266771, 40.730051861195804): 7.400000095367432,
 (-74.01043188181129, 40.72961375970586): 6.599999904632568,
 (-74.00831251904799, 40.73128753206486): 10.819999694824219,
 (-74.0088255096815, 40.730939297547216): 13.380000114440918,
 (-74.00973166831882, 40.73070339674494): 8.529999732971191,
 (-74.00898277688302, 40.73022036176886): 12.670000076293945,
 (-74.00846604179233, 40.7305685962865): 3.720000028610229,
 (-74.00806538487417, 40.73084943057492): 15.680000305175781,
 (-74.00824511881876, 40.730134239253736): 14.670000076293945,
 (-74.00860458670795, 40.72981221593635): 13.5600004196167,
 (-74.00913629962736, 40.72950517044767): 11.420000076293945,
 (-74.00843234167772, 40.72938909227513): 13.529999732971191,
 (-74.00991889117776, 40.729246802902324): 8.140000343322754,
 (-74.008773087281, 40.729140085872714): 11.920000076293945,
 (-74.00805415150263, 40.729057707814775): 13.0,
 (-74.00815899630365, 40.72864207306791): 13.609999656677246,
 (-74.00930105574324, 40.72876189569764): 9.65999984741211,
 (-74.01049928204051, 40.728949118556585): 6.440000057220459,
 (-74.00998629140699, 40.72853348380972): 7.340000152587891,
 (-74.00887793208202, 40.728421150094356): 11.449999809265137,
 (-74.00863454236539, 40.72838370552256): 11.8100004196167,
 (-74.00829005230491, 40.727926881746725): 13.829999923706055,
 (-74.01059663792716, 40.72820397157797): 6.139999866485596,
 (-74.01066403815638, 40.72768442814437): 6.550000190734863,
 (-74.01002748043595, 40.7278042507741): 7.099999904632568,
 (-74.00951074534525, 40.727744339459235): 8.050000190734863,
 (-74.00908013276968, 40.72766945031566): 9.65999984741211,
 (-74.00878432065254, 40.72764698357258): 10.149999618530273,
 (-74.00887044316765, 40.727212626539824): 10.529999732971191,
 (-74.00845855287797, 40.726868136479354): 13.15999984741211,
 (-74.0098252797483, 40.7265760688194): 9.550000190734863,
 (-74.01077262741457, 40.726800736250134): 7.199999809265137,
 (-74.01086249438687, 40.72631770127405): 6.510000228881836,
 (-74.01024091449516, 40.7262727677879): 8.479999542236328,
 (-74.00937220042964, 40.72616417852971): 10.229999542236328,
 (-74.00903145482636, 40.72608928938613): 9.220000267028809,
 (-74.00863454236539, 40.72607805601459): 12.069999694824219,
 (-74.00833498579107, 40.72603686698562): 12.699999809265137,
 (-74.00759358326962, 40.726298978988154): 16.15999984741211,
 (-74.01092615015891, 40.72561093498151): 7.329999923706055,
 (-74.01107592844608, 40.72467107622959): 5.699999809265137,
 (-74.01040567061104, 40.72548736789461): 7.199999809265137,
 (-74.01004620272185, 40.725169089034395): 9.069999694824219,
 (-74.0096268235178, 40.72506798869056): 7.800000190734863,
 (-74.00917374419915, 40.7254349454941): 9.960000038146973,
 (-74.00883299859586, 40.725124155548244): 9.119999885559082,
 (-74.00812155173186, 40.725412478751025): 9.770000457763672,
 (-74.00770217252781, 40.72548736789461): 13.329999923706055,
 (-74.00783322852908, 40.72486204354572): 11.59000015258789,
 (-74.00823762990441, 40.724689798515485): 11.859999656677246,
 (-74.00788939538677, 40.72443517542732): 9.529999732971191,
 (-74.00927858900016, 40.72480962114521): 7.809999942779541,
 (-74.0096642680896, 40.72450632011372): 8.960000038146973,
 (-74.01069024935663, 40.72427416376862): 6.079999923706055,
 (-74.01017351426593, 40.724240463654006): 8.050000190734863,
 (-74.00941713391579, 40.724169318967604): 10.239999771118164,
 (-74.00985429929142, 40.723810787192704): 6.440000057220459,
 (-74.01125847073354, 40.72362730879093): 5.960000038146973,
 (-74.0107829246718, 40.72363854216247): 6.96999979019165,
 (-74.00904549654076, 40.7237396425063): 11.350000381469727,
 (-74.00950606477377, 40.72347753050377): 10.130000114440918,
 (-74.00921025265664, 40.723155507186384): 13.9399995803833,
 (-74.00967456534683, 40.72286343952642): 10.420000076293945,
 (-74.01137454890609, 40.723181718386634): 5.389999866485596,
 (-74.01146816033555, 40.72266872775312): 5.710000038146973,
 (-74.01048336809748, 40.722582605238): 8.220000267028809,
 (-74.00928139734303, 40.72247776043699): 4.800000190734863,
 (-74.0097494544904, 40.72218569277703): 11.15999984741211,
 (-74.01012390020831, 40.72223437072036): 10.270000457763672,
 (-74.01111243690356, 40.722313004321116): 6.53000020980835,
 (-74.0116404053658, 40.7220845924332): 6.28000020980835,
 (-74.00946113128762, 40.72182716100214): 12.34000015258789,
 (-74.00986927712013, 40.721523859970645): 11.65999984741211,
 (-74.00957720946018, 40.721111969680955): 7.78000020980835,
 (-74.01073799118566, 40.72120183665325): 12.25,
 (-74.01182013931039, 40.72133663711169): 8.789999961853027,
 (-74.01142697130659, 40.72096593585098): 10.8100004196167,
 (-74.01041971232544, 40.72084611322125): 12.390000343322754,
 (-74.01006398889345, 40.720812413106636): 11.0600004196167,
 (-74.01199612879779, 40.72065514590512): 8.859999656677246,
 (-74.00967082088965, 40.72038554498823): 4.670000076293945,
 (-74.00858867276493, 40.720662634819476): 16.1299991607666,
 (-74.00844638339213, 40.72140403734092): 15.779999732971191,
 (-74.01215620434219, 40.7200167159561): 8.90999984741211,
 (-74.01017164203734, 40.72009909401404): 13.880000114440918,
 (-74.0102315533522, 40.71975834841075): 14.300000190734863,
 (-74.01029146466706, 40.719428836179): 14.760000228881836,
 (-74.01064718809906, 40.71947002520797): 29.18000030517578,
 (-74.01104410056003, 40.71953742543719): 36.310001373291016,
 (-74.01172933622378, 40.71960857012359): 27.459999084472656,
 (-74.01229100480063, 40.71937641377849): 9.079999923706055,
 (-74.01032142032449, 40.7191442574334): 16.06999969482422,
 (-74.01043000958268, 40.718796022915754): 16.190000534057617,
 (-74.01249694994547, 40.71870241148628): 10.430000305175781,
 (-74.01201391496939, 40.718610672285386): 14.720000267028809,
 (-74.01132867930563, 40.71824745993903): 37.029998779296875,
 (-74.01089806673005, 40.71816508188109): 36.349998474121094,
 (-74.0100705416935, 40.718389749311825): 12.1899995803833,
 (-74.01014917529426, 40.71804900370854): 16.389999389648438,
 (-74.01063221027034, 40.717749447134224): 15.3100004196167,
 (-74.01266545051853, 40.71804151479418): 9.920000076293945,
 (-74.01275531749083, 40.71758843547553): 10.739999771118164,
 (-74.01281522880568, 40.71733006793018): 10.1899995803833,
 (-74.01225730468602, 40.71723177592922): 9.420000076293945,
 (-74.01148220204998, 40.71743772107406): 10.270000457763672,
 (-74.01034763152474, 40.717385298673555): 15.619999885559082,
 (-74.01041128729679, 40.71708948655642): 12.819999694824219,
 (-74.01083441095801, 40.716909752611826): 13.460000038146973,
 (-74.0111227341608, 40.717055786441804): 12.720000267028809,
 (-74.01159828022251, 40.71690226369747): 11.239999771118164,
 (-74.01091304455876, 40.71659147375161): 12.430000305175781,
 (-74.0129350514354, 40.71691536929759): 10.680000305175781,
 (-74.01054515164093, 40.716386464721054): 13.420000076293945,
 (-74.01134646547723, 40.71646135386464): 10.369999885559082,
 (-74.01239491348734, 40.716551220836934): 8.989999771118164,
 (-74.0117770780528, 40.71622919751954): 13.319999694824219,
 (-74.01073986341423, 40.71576862928652): 13.880000114440918,
 (-74.0108147525578, 40.71536797236838): 15.9399995803833,
 (-74.01148126593567, 40.71574241808627): 11.239999771118164,
 (-74.01311010480852, 40.716251664262614): 10.479999542236328,
 (-74.0125634140604, 40.71585100734446): 9.8100004196167,
 (-74.01192311188278, 40.71553647294143): 10.59000015258789,
 (-74.01093831964472, 40.715038460136626): 11.0,
 (-74.01100571987394, 40.71466401441873): 13.5600004196167,
 (-74.01166474433744, 40.71497854882176): 10.680000305175781,
 (-74.01327860538157, 40.71553647294143): 10.390000343322754,
 (-74.01059757404143, 40.71415664047097): 17.489999771118164,
 (-74.01107686456034, 40.71437756344453): 13.420000076293945,
 (-74.01219271279967, 40.714879320706515): 10.789999961853027,
 (-74.01270195897601, 40.71514517716622): 7.789999961853027,
 (-74.01341340584001, 40.71495046539291): 7.690000057220459,
 (-74.01287420400625, 40.714493641617075): 6.119999885559082,
 (-74.01230504651504, 40.71423152961455): 7.519999980926514,
 (-74.01168721108051, 40.71392822858305): 9.359999656677246,

In [46]:
df_point

,id,geometry,close_road,closest_road_id,block_id,elevation
0,0,POINT (-74.00698 40.74748),119,"[119, 170]",1.0,5.27
1,1,POINT (-74.00722 40.74722),119,"[119, 120, 170]",2.0,6.84
2,2,POINT (-74.00721 40.74697),120,"[120, 170]",2.0,8.09
3,3,POINT (-74.00722 40.74722),119,"[119, 120, 170]",2.0,6.76
4,4,POINT (-74.00728 40.74667),120,"[120, 121, 170]",3.0,7.44
...,...,...,...,...,...,...
2295,2295,POINT (-73.97976 40.71559),234,"[33, 234]",505.0,11.9
2296,2296,POINT (-73.97987 40.71361),30,"[30, 35, 235]",901.0,21.5
2297,2297,POINT (-73.98387 40.72077),221,[221],437.0,23.959999
2298,2298,POINT (-73.97780 40.71833),199,"[199, 235]",444.0,9.1
2299,2299,POINT (-73.99446 40.72987),187,"[187, 109]",329.0,35.919998

# -----cost function-----

In [47]:
# sorry I know this is repetitive but I cannot find any other way at this point
def find_max_min_slope(edges):
    max_slope = float('-inf')
    min_slope = float('inf')

    for edge in edges:
        point_i = points[edge.p1]
        point_j = points[edge.p2]
        hydrant_i = hydrant_instances[edge.p1]
        hydrant_j = hydrant_instances[edge.p2]
        rise = hydrant_j.elevation - hydrant_i.elevation
        run = distance(point_i, point_j)
        slope = rise / run

        # Check for maximum slope
        if slope > max_slope:
            max_slope = slope

        # Check for minimum slope
        if slope < min_slope:
            min_slope = slope

    return max_slope, min_slope

In [48]:
max_length = edge_df['length'].max()
min_length = edge_df['length'].min()
max_angle = edge_df['intersection_angle'].max()
min_angle = edge_df['intersection_angle'].min()
max_slope, min_slope = find_max_min_slope(edge_set_pro)

In [49]:
def normalize_min_max(value, min_val, max_val):
    return (value - min_val) / (max_val - min_val)

In [58]:
def costAngle(edge):
    return normalize_min_max(edge.intersection_angle, min_angle, max_angle)

def costLength(edge):
    point_i = points[edge.p1]
    point_j = points[edge.p2]
    hydrant_i = hydrant_instances[edge.p1]
    hydrant_j = hydrant_instances[edge.p2]
    return normalize_min_max(distance(point_i, point_j), 0, max_edge_length)

def costSlope(edge):
    hydrant_j = df_point.iloc[edge.p2]
    hydrant_i = df_point.iloc[edge.p1]
    rise = hydrant_j.elevation - hydrant_i.elevation
    run = edge.length
    slope = rise/run
    if slope < 0:
        return 1
    return normalize_min_max(slope, 0, max_slope)

# -----Genetic Algorithm-----

In [59]:
# Define the cost function using the given formula
def cost_function(αL, αS, α𝛳, edge):
    return αL * costLength(edge) + αS * costSlope(edge) + α𝛳 * costAngle(edge)

In [60]:
# Define the fitness function
def fitness(αL, αS, α𝛳, edges):
    total_cost = sum(cost_function(αL, αS, α𝛳, edge) for edge in edges)
    return total_cost

In [63]:
# Genetic Algorithm function
import random
import numpy as np
from concurrent.futures import ThreadPoolExecutor

def genetic_algorithm(edges, population_size=50, num_generations=100, mutation_rate=0.1):
    num_edges = len(edges)

    # Generate an initial population of random individuals (chromosomes)
    population = np.random.rand(population_size, 3)  # [αL, αS, α𝛳]

    with ThreadPoolExecutor() as executor:
        for generation in range(num_generations):
            # Evaluate the fitness of each individual in the population using parallelism
            fitness_scores = list(executor.map(lambda ind: fitness(ind[0], ind[1], ind[2], edges), population))

            # Perform selection using indices of sorted fitness scores
            selected_indices = np.argsort(fitness_scores)[:population_size // 2]
            selected_population = population[selected_indices]

            # Perform crossover and mutation using NumPy vectorization
            parents = selected_population[np.random.choice(len(selected_population), size=(population_size, 2))]
            children = (parents[:, 0] + parents[:, 1]) / 2

            # Apply mutation using NumPy vectorization
            mask = np.random.rand(*children.shape) < mutation_rate
            mutation = np.random.uniform(-0.1, 0.1, size=children.shape)
            children += mask * mutation

            # Replace old population with new population
            population = children

    # Find the best individual
    best_index = np.argmin(fitness_scores)
    best_individual = {'αL': population[best_index, 0], 'αS': population[best_index, 1], 'α𝛳': population[best_index, 2]}

    return best_individual

In [64]:
best_weights = genetic_algorithm(edge_set_pro)

In [65]:
best_weights

{'αL': -0.6657995160591507,
 'αS': -0.9022471187293939,
 'α𝛳': 0.47820467928857113}

In [68]:
# Assuming you have already found the best weights
best_αL = best_weights['αL']
best_αS = best_weights['αS']
best_α𝛳 = best_weights['α𝛳']

# Calculate the cost for each edge using the best weights
edge_costs = [cost_function(best_αL, best_αS, best_α𝛳, edge) for edge in edge_set_pro]

# Add the calculated costs to the edge list as a new attribute
for edge, cost in zip(edge_set_pro, edge_costs):
    edge.cost = cost

In [69]:
edge_df['cost'] = edge_costs

In [70]:
edge_df

,edgeID,p1,p2,length,cross_road_id,angle_with_road,intersection_angle,cost
0,0,293,312,0.001844,189,0.033167,76.015232,-1.179884
1,1,312,304,0.000686,243,0.105671,75.330291,0.170667
2,2,293,304,0.001158,221,0.016852,76.519843,-0.952010
3,3,307,304,0.000651,45,0.977769,56.990835,0.546357
4,4,312,304,0.000686,243,0.105671,75.330291,0.170667
...,...,...,...,...,...,...,...,...
8777,8777,445,436,0.000762,180,2.150902,56.513831,-0.991144
8778,8778,436,441,0.000576,248,0.822384,69.839302,-1.206129
8779,8779,445,441,0.000855,3,0.077049,9.865807,-0.731000
8780,8780,445,435,0.000629,110,5.426604,49.462668,-0.934739
8781,8781,445,436,0.000762,180,2.150902,56.513831,-0.991144

In [139]:
sorted_grouped_edge_df = edge_df.groupby('p1', group_keys=False).apply(lambda x: x.sort_values(by='cost'))

In [140]:
sorted_grouped_edge_df

,edgeID,p1,p2,length,cross_road_id,angle_with_road,intersection_angle,cost
1229,1229,1,0,0.000355,223,0.470305,47.093465,-0.770531
1231,1231,1,0,0.000355,223,0.470305,47.093465,-0.770531
1233,1233,1,3,0.000005,169,1.881181,46.881181,-0.170871
155,155,2,5,0.000777,4,1.109857,29.285695,-1.975491
446,446,2,5,0.000777,4,1.109857,29.285695,-1.975491
...,...,...,...,...,...,...,...,...
485,485,2298,1994,0.000812,166,0.896157,89.191648,-0.772399
481,481,2298,2011,0.000752,1,0.161768,29.744881,-0.102444
2443,2443,2298,2011,0.000752,1,0.161768,29.744881,-0.102444
474,474,2298,2014,0.000485,195,0.825450,74.378595,0.698870
1285,1285,2298,2014,0.000485,195,0.825450,74.378595,0.698870

In [141]:
sorted_grouped_edge_df = sorted_grouped_edge_df.drop_duplicates()

In [142]:
sorted_grouped_edge_df

,edgeID,p1,p2,length,cross_road_id,angle_with_road,intersection_angle,cost
1229,1229,1,0,0.000355,223,0.470305,47.093465,-0.770531
1231,1231,1,0,0.000355,223,0.470305,47.093465,-0.770531
1233,1233,1,3,0.000005,169,1.881181,46.881181,-0.170871
155,155,2,5,0.000777,4,1.109857,29.285695,-1.975491
446,446,2,5,0.000777,4,1.109857,29.285695,-1.975491
...,...,...,...,...,...,...,...,...
485,485,2298,1994,0.000812,166,0.896157,89.191648,-0.772399
481,481,2298,2011,0.000752,1,0.161768,29.744881,-0.102444
2443,2443,2298,2011,0.000752,1,0.161768,29.744881,-0.102444
474,474,2298,2014,0.000485,195,0.825450,74.378595,0.698870
1285,1285,2298,2014,0.000485,195,0.825450,74.378595,0.698870

In [143]:
sorted_grouped_edge_df = sorted_grouped_edge_df.drop_duplicates(subset=['p1', 'p2', 'length', 'cross_road_id', 'angle_with_road', 'intersection_angle'])

In [144]:
sorted_grouped_edge_df

,edgeID,p1,p2,length,cross_road_id,angle_with_road,intersection_angle,cost
1229,1229,1,0,0.000355,223,0.470305,47.093465,-0.770531
1233,1233,1,3,0.000005,169,1.881181,46.881181,-0.170871
155,155,2,5,0.000777,4,1.109857,29.285695,-1.975491
157,157,2,4,0.000312,189,0.115082,76.015232,-1.569332
7811,7811,2,7,0.000858,124,0.000242,66.341761,-1.318843
...,...,...,...,...,...,...,...,...
1608,1608,2297,2234,0.000020,71,0.225016,42.498705,-0.199366
480,480,2298,2012,0.000383,34,1.042716,72.862305,-1.125366
475,475,2298,1994,0.000812,166,0.896157,89.191648,-0.772399
481,481,2298,2011,0.000752,1,0.161768,29.744881,-0.102444
474,474,2298,2014,0.000485,195,0.825450,74.378595,0.698870

In [145]:
count_above_zero = (sorted_grouped_edge_df['cost'] > 0).sum()

In [146]:
count_above_zero

1002

In [147]:
no_above_zero_df = sorted_grouped_edge_df.loc[sorted_grouped_edge_df['cost'] <= 0]

In [148]:
no_above_zero_df

,edgeID,p1,p2,length,cross_road_id,angle_with_road,intersection_angle,cost
1229,1229,1,0,0.000355,223,0.470305,47.093465,-0.770531
1233,1233,1,3,0.000005,169,1.881181,46.881181,-0.170871
155,155,2,5,0.000777,4,1.109857,29.285695,-1.975491
157,157,2,4,0.000312,189,0.115082,76.015232,-1.569332
7811,7811,2,7,0.000858,124,0.000242,66.341761,-1.318843
...,...,...,...,...,...,...,...,...
1569,1569,2297,2205,0.000856,194,0.658127,64.900005,-0.921377
1608,1608,2297,2234,0.000020,71,0.225016,42.498705,-0.199366
480,480,2298,2012,0.000383,34,1.042716,72.862305,-1.125366
475,475,2298,1994,0.000812,166,0.896157,89.191648,-0.772399
481,481,2298,2011,0.000752,1,0.161768,29.744881,-0.102444

In [178]:
# Merge the points DataFrame for p1
filtered_edges_no_above_zero_df = pd.merge(no_above_zero_df, df_point, left_on='p1', right_on='id', how='left')

In [179]:
filtered_edges_no_above_zero_df

,edgeID,p1,p2,length,cross_road_id,angle_with_road,intersection_angle,cost,id,geometry,close_road,closest_road_id,block_id,elevation
0,1229,1,0,0.000355,223,0.470305,47.093465,-0.770531,1,POINT (-74.00722 40.74722),119,"[119, 120, 170]",2.0,6.84
1,1233,1,3,0.000005,169,1.881181,46.881181,-0.170871,1,POINT (-74.00722 40.74722),119,"[119, 120, 170]",2.0,6.84
2,155,2,5,0.000777,4,1.109857,29.285695,-1.975491,2,POINT (-74.00721 40.74697),120,"[120, 170]",2.0,8.09
3,157,2,4,0.000312,189,0.115082,76.015232,-1.569332,2,POINT (-74.00721 40.74697),120,"[120, 170]",2.0,8.09
4,7811,2,7,0.000858,124,0.000242,66.341761,-1.318843,2,POINT (-74.00721 40.74697),120,"[120, 170]",2.0,8.09
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4850,1569,2297,2205,0.000856,194,0.658127,64.900005,-0.921377,2297,POINT (-73.98387 40.72077),221,[221],437.0,23.959999
4851,1608,2297,2234,0.000020,71,0.225016,42.498705,-0.199366,2297,POINT (-73.98387 40.72077),221,[221],437.0,23.959999
4852,480,2298,2012,0.000383,34,1.042716,72.862305,-1.125366,2298,POINT (-73.97780 40.71833),199,"[199, 235]",444.0,9.1
4853,475,2298,1994,0.000812,166,0.896157,89.191648,-0.772399,2298,POINT (-73.97780 40.71833),199,"[199, 235]",444.0,9.1
4854,481,2298,2011,0.000752,1,0.161768,29.744881,-0.102444,2298,POINT (-73.97780 40.71833),199,"[199, 235]",444.0,9.1

In [180]:
# Duplicate the column with a different name
filtered_edges_no_above_zero_df['geometry_p1'] = filtered_edges_no_above_zero_df['geometry']
filtered_edges_no_above_zero_df

,edgeID,p1,p2,length,cross_road_id,angle_with_road,intersection_angle,cost,id,geometry,close_road,closest_road_id,block_id,elevation,geometry_p1
0,1229,1,0,0.000355,223,0.470305,47.093465,-0.770531,1,POINT (-74.00722 40.74722),119,"[119, 120, 170]",2.0,6.84,POINT (-74.00722 40.74722)
1,1233,1,3,0.000005,169,1.881181,46.881181,-0.170871,1,POINT (-74.00722 40.74722),119,"[119, 120, 170]",2.0,6.84,POINT (-74.00722 40.74722)
2,155,2,5,0.000777,4,1.109857,29.285695,-1.975491,2,POINT (-74.00721 40.74697),120,"[120, 170]",2.0,8.09,POINT (-74.00721 40.74697)
3,157,2,4,0.000312,189,0.115082,76.015232,-1.569332,2,POINT (-74.00721 40.74697),120,"[120, 170]",2.0,8.09,POINT (-74.00721 40.74697)
4,7811,2,7,0.000858,124,0.000242,66.341761,-1.318843,2,POINT (-74.00721 40.74697),120,"[120, 170]",2.0,8.09,POINT (-74.00721 40.74697)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4850,1569,2297,2205,0.000856,194,0.658127,64.900005,-0.921377,2297,POINT (-73.98387 40.72077),221,[221],437.0,23.959999,POINT (-73.98387 40.72077)
4851,1608,2297,2234,0.000020,71,0.225016,42.498705,-0.199366,2297,POINT (-73.98387 40.72077),221,[221],437.0,23.959999,POINT (-73.98387 40.72077)
4852,480,2298,2012,0.000383,34,1.042716,72.862305,-1.125366,2298,POINT (-73.97780 40.71833),199,"[199, 235]",444.0,9.1,POINT (-73.97780 40.71833)
4853,475,2298,1994,0.000812,166,0.896157,89.191648,-0.772399,2298,POINT (-73.97780 40.71833),199,"[199, 235]",444.0,9.1,POINT (-73.97780 40.71833)
4854,481,2298,2011,0.000752,1,0.161768,29.744881,-0.102444,2298,POINT (-73.97780 40.71833),199,"[199, 235]",444.0,9.1,POINT (-73.97780 40.71833)

In [181]:
# Merge the points DataFrame for p2
filtered_edges_no_above_zero_df = pd.merge(filtered_edges_no_above_zero_df, df_point, left_on='p2', right_on='id', how='left')

In [182]:
filtered_edges_no_above_zero_df

,edgeID,p1,p2,length,cross_road_id,angle_with_road,intersection_angle,cost,id_x,geometry_x,...,closest_road_id_x,block_id_x,elevation_x,geometry_p1,id_y,geometry_y,close_road_y,closest_road_id_y,block_id_y,elevation_y
0,1229,1,0,0.000355,223,0.470305,47.093465,-0.770531,1,POINT (-74.00722 40.74722),...,"[119, 120, 170]",2.0,6.84,POINT (-74.00722 40.74722),0,POINT (-74.00698 40.74748),119,"[119, 170]",1.0,5.27
1,1233,1,3,0.000005,169,1.881181,46.881181,-0.170871,1,POINT (-74.00722 40.74722),...,"[119, 120, 170]",2.0,6.84,POINT (-74.00722 40.74722),3,POINT (-74.00722 40.74722),119,"[119, 120, 170]",2.0,6.76
2,155,2,5,0.000777,4,1.109857,29.285695,-1.975491,2,POINT (-74.00721 40.74697),...,"[120, 170]",2.0,8.09,POINT (-74.00721 40.74697),5,POINT (-74.00788 40.74658),170,"[121, 170]",NaN,7.8
3,157,2,4,0.000312,189,0.115082,76.015232,-1.569332,2,POINT (-74.00721 40.74697),...,"[120, 170]",2.0,8.09,POINT (-74.00721 40.74697),4,POINT (-74.00728 40.74667),120,"[120, 121, 170]",3.0,7.44
4,7811,2,7,0.000858,124,0.000242,66.341761,-1.318843,2,POINT (-74.00721 40.74697),...,"[120, 170]",2.0,8.09,POINT (-74.00721 40.74697),7,POINT (-74.00642 40.74663),120,[120],2.0,6.92
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4850,1569,2297,2205,0.000856,194,0.658127,64.900005,-0.921377,2297,POINT (-73.98387 40.72077),...,[221],437.0,23.959999,POINT (-73.98387 40.72077),2205,POINT (-73.98424 40.71999),199,"[199, 221]",457.0,25.18
4851,1608,2297,2234,0.000020,71,0.225016,42.498705,-0.199366,2297,POINT (-73.98387 40.72077),...,[221],437.0,23.959999,POINT (-73.98387 40.72077),2234,POINT (-73.98388 40.72078),221,[221],437.0,23.91
4852,480,2298,2012,0.000383,34,1.042716,72.862305,-1.125366,2298,POINT (-73.97780 40.71833),...,"[199, 235]",444.0,9.1,POINT (-73.97780 40.71833),2012,POINT (-73.97743 40.71823),199,"[199, 235]",445.0,8.87
4853,475,2298,1994,0.000812,166,0.896157,89.191648,-0.772399,2298,POINT (-73.97780 40.71833),...,"[199, 235]",444.0,9.1,POINT (-73.97780 40.71833),1994,POINT (-73.97780 40.71752),235,[235],465.0,9.97
4854,481,2298,2011,0.000752,1,0.161768,29.744881,-0.102444,2298,POINT (-73.97780 40.71833),...,"[199, 235]",444.0,9.1,POINT (-73.97780 40.71833),2011,POINT (-73.97715 40.71870),235,[235],445.0,9.79

In [183]:
# List of column names to keep
columns_to_keep = ['edgeID', 'id_x', 'id_y', 'geometry_x', 'geometry_y', 'cost']

# Keep only the specified columns
filtered_edges_no_above_zero_df = filtered_edges_no_above_zero_df.loc[:, columns_to_keep]

In [184]:
filtered_edges_no_above_zero_df

,edgeID,id_x,id_y,geometry_x,geometry_y,cost
0,1229,1,0,POINT (-74.00722 40.74722),POINT (-74.00698 40.74748),-0.770531
1,1233,1,3,POINT (-74.00722 40.74722),POINT (-74.00722 40.74722),-0.170871
2,155,2,5,POINT (-74.00721 40.74697),POINT (-74.00788 40.74658),-1.975491
3,157,2,4,POINT (-74.00721 40.74697),POINT (-74.00728 40.74667),-1.569332
4,7811,2,7,POINT (-74.00721 40.74697),POINT (-74.00642 40.74663),-1.318843
...,...,...,...,...,...,...
4850,1569,2297,2205,POINT (-73.98387 40.72077),POINT (-73.98424 40.71999),-0.921377
4851,1608,2297,2234,POINT (-73.98387 40.72077),POINT (-73.98388 40.72078),-0.199366
4852,480,2298,2012,POINT (-73.97780 40.71833),POINT (-73.97743 40.71823),-1.125366
4853,475,2298,1994,POINT (-73.97780 40.71833),POINT (-73.97780 40.71752),-0.772399
4854,481,2298,2011,POINT (-73.97780 40.71833),POINT (-73.97715 40.71870),-0.102444

In [185]:
# Create LineString geometries for both p1 and p2
filtered_edges_no_above_zero_df['geometry'] = filtered_edges_no_above_zero_df.apply(lambda row: LineString([row['geometry_x'], row['geometry_y']]), axis=1)

In [186]:
filtered_edges_no_above_zero_df

,edgeID,id_x,id_y,geometry_x,geometry_y,cost,geometry
0,1229,1,0,POINT (-74.00722 40.74722),POINT (-74.00698 40.74748),-0.770531,LINESTRING (-74.0072172653229 40.7472173890186...
1,1233,1,3,POINT (-74.00722 40.74722),POINT (-74.00722 40.74722),-0.170871,LINESTRING (-74.0072172653229 40.7472173890186...
2,155,2,5,POINT (-74.00721 40.74697),POINT (-74.00788 40.74658),-1.975491,LINESTRING (-74.00720977640854 40.746973999302...
3,157,2,4,POINT (-74.00721 40.74697),POINT (-74.00728 40.74667),-1.569332,LINESTRING (-74.00720977640854 40.746973999302...
4,7811,2,7,POINT (-74.00721 40.74697),POINT (-74.00642 40.74663),-1.318843,LINESTRING (-74.00720977640854 40.746973999302...
...,...,...,...,...,...,...,...
4850,1569,2297,2205,POINT (-73.98387 40.72077),POINT (-73.98424 40.71999),-0.921377,LINESTRING (-73.98386708301707 40.720766081186...
4851,1608,2297,2234,POINT (-73.98387 40.72077),POINT (-73.98388 40.72078),-0.199366,LINESTRING (-73.98386708301707 40.720766081186...
4852,480,2298,2012,POINT (-73.97780 40.71833),POINT (-73.97743 40.71823),-1.125366,LINESTRING (-73.97780125392501 40.718332506285...
4853,475,2298,1994,POINT (-73.97780 40.71833),POINT (-73.97780 40.71752),-0.772399,LINESTRING (-73.97780125392501 40.718332506285...
4854,481,2298,2011,POINT (-73.97780 40.71833),POINT (-73.97715 40.71870),-0.102444,LINESTRING (-73.97780125392501 40.718332506285...

In [209]:
gdf = filtered_edges_no_above_zero_df.loc[:, ['geometry']]

In [210]:
gdf

                                               geometry
0     LINESTRING (-74.0072172653229 40.7472173890186...
1     LINESTRING (-74.0072172653229 40.7472173890186...
2     LINESTRING (-74.00720977640854 40.746973999302...
3     LINESTRING (-74.00720977640854 40.746973999302...
4     LINESTRING (-74.00720977640854 40.746973999302...
...                                                 ...
4850  LINESTRING (-73.98386708301707 40.720766081186...
4851  LINESTRING (-73.98386708301707 40.720766081186...
4852  LINESTRING (-73.97780125392501 40.718332506285...
4853  LINESTRING (-73.97780125392501 40.718332506285...
4854  LINESTRING (-73.97780125392501 40.718332506285...

[4855 rows x 1 columns]

In [214]:
geometry = gdf['geometry'].apply(LineString)

In [215]:
gdf = gpd.GeoDataFrame(gdf, geometry=geometry)

In [216]:
# Define the output shapefile path
output_shapefile = 'GA_no_above_zero_lines.shp'

# Save the GeoDataFrame to a shapefile
gdf.to_file(output_shapefile)